%h1 About HomeReport
%p HomeReport is an application that allows users to create home inspection reports for clients and make them accessible from the web.
%p HomeReport allows you to:
%ul
  %li Manage a list of clients
  %li Create a home inspection report for each client
  %li Provide clients with a report that's accessible from the web via a unique URL