%h1 About HomeReport
%p HomeReport is an application that allows members to create home inspection reports for clients and make them accessible via the web. With HomeReport members can manage a list of clients, create a home inspection report for each client, and provide clients with a unique URL to view their report.
%h2 Want to try it out?
%p If you are interested in test-driving HomeReport login using the following cedentials:
%ul.list-unstyled
  %li U: member@example.com
  %li P: helloworld
%h2 Want to see more?
%p If you are interested in or have any questions about my work, please visit my site at <a href="http://www.soriafernando.com/" target="_blank">www.soriafernando.com</a>.